name: Pull request trigger
on:
  push:
    branches: [develop, main]
  pull_request:
    branches: [develop, main]
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Use node.js 14.x
        uses: actions/setup-node@v3
        with:
          node-version: '14.x'
      - shell: bash
        run: ./.github/scripts/setup.sh
      - name: Check node version
        run: node --version
      - name: Check yarn version
        run: yarn --version

  lint:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Check node version
        run: node --version
      - name: Check yarn version
        run: yarn --version
